body{
    
    background:linear-gradient(to right,  #171817d2,rgba(49, 59, 36, 0.267)),
                url(backgroud.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
#header {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    background-color:#e9a300;
    padding:5px ;
    font-size: 2rem;
    color: rgb(82, 2, 2);
    font-weight:bold;
    margin:-1%;
    position: fixed;
    top: 0;
    width: 100%;
    
    
}
header div{
    padding: 10px;  
}

#form-section{
    margin-top: 5%;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#form{
    display: flex;
    justify-content: center;
    background-color: #ebe99dec;
    margin: 10px;
    padding: 20px; 
      
}
.form-first{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    margin-left: 30px;
    

}
.details{
    margin-left: 25px;
    margin-right: 25px;
}
.title{
    font-size:1rem;
    
}
.course-information .field{
    margin-top: 20%;
}
#form .details label{
    line-height:3;
    font-weight: bold;
    color: rgb(80, 40, 2);
}
#form .details input,select{
    width: auto;
    background: #e9a30059;
    
    
}
#form .details input::placeholder{
    color: rgb(92, 88, 88);
}
#form .details input,select{
    border:solid 1px;
    background-color: rgb(190, 167, 64);
    
}

#form .details input:valid{
    border:rgb(11, 66, 11) solid 1px;
    background-color: rgb(154, 207, 133);
    box-shadow: 2px 2px 2px rgb(241, 252, 241)   ;
    
}



/* #form .details input:invalid {

    
    border: rgba(255, 0, 0, 0.24) solid 2px;
  } */


.title{
    color: black;
}
#form-section h1{
    font-size: 2rem;
    color: white;
}


#submit{
    padding: 10px;
    width: 50%;
    margin-left: 20%;
    border-radius: 20px;
    background-color: rgb(190, 167, 64);
}
#submit:hover{
    cursor: pointer;
    font-weight: bold;
}

input[type=number]{
    -moz-appearance: textfield;
    color: black;
}

.footer{
    margin:-1%;
    background-color:#e9a300;
    height: 15vh;
    text-align: center;
    padding-top: 5px;
    bottom: 0%;
    /* position: fixed; */
    /* width: 100%; */
}
.thank{
    align-items: center;
    text-align: center;
    background: #e9a30071;
    width: 40%;
    margin-left: 24%;
    padding: 80px;
    margin-bottom:5%;
    margin-top: 10%;
    
}
.thank h1,h2,h4{
    color: white;
}
.thank h1{
    font-size: 4rem;
}
.thank h2{
    font-size: 2.5rem;
}
.thank h4{
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .thank h1{
        font-size: 2rem;
    }
    .thank h2{
        font-size: 1rem;
    }
    .thank h4{
        font-size: 1rem;
    }
    .thank{
        
        margin-left: 14%;
        padding: 80px;
        margin-bottom:5%;
        margin-top: 10%;
        
    }
  }